{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">We are brand new fashion company.</p>
        </div>
    </div>
</header>
<div class="contaner">
    <div class="row">
        <center>
            <div class="col-5">
                <br/><br/>
                <p align="justify">
                    Welcome to Trendstash, where fashion meets innovation! We are passionate about curating the latest trends and timeless classics, offering a versatile range of clothing that speaks to every style. Whether you're looking for bold, statement pieces or everyday essentials, we've got you covered.
                </p>
                <p align="justify">
                    At Trendstash, we believe fashion should be accessible, sustainable, and fun. That’s why we work with designers and brands that share our vision of quality, comfort, and creativity. Our collection is carefully selected to ensure that each piece not only looks good but feels good too.
                </p>
                <p align="justify">
                    We are more than just a clothing store — we are a community of trendsetters, dreamers, and doers. With Trendstash, you’re not just buying clothes; you’re joining a movement that celebrates individuality and expression.
                </p>
                <p align="justify">
                    Thank you for being a part of our journey. Let’s continue to break boundaries and set new trends, together.
                </p>
                <br/><br/>
            </div>
        </center>
    </div>
</div>

{% endblock %}