{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Register</h1>
            <p class="lead fw-normal text-white-50 mb-0">Register a New Account</p>
        </div>
    </div>
</header>
<div class="contaner">
    <div class="row">
        
            <div class="col-md-4 offset-md-4">
                <br/><br/><br/><br/>
                <form method="POST" action="{% url 'register' %}">
                    {%csrf_token%}
                    {{ form.as_p }}
                    <br/><br/>
                    <button type="submit" class="btn btn-secondary">Register</button>
                    </form>
                <br/><br/>
                <br/><br/>
                <br/><br/>
                <br/><br/>
                
            </div>
        
    </div>
</div>

{% endblock %}